<% alert = local_assigns[:alert] || @alert || Refinery::Alerts::Alert.live_alert -%>
<% if alert.present? %>
  <div class="refinery_alert">
    <h2><%= alert.title %></h2>
    <%= raw alert.content %>
  </div>
<% end %>
