<% content_for :body do %>
  <ul id="alerts">
    <% @alerts.each do |alert| %>
      <li>
        <%= link_to alert.title, refinery.alerts_alert_path(alert) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
