<ul>
  <% if ::Refinery::Alerts::Admin::AlertsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.alerts_admin_alerts_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_alerts_admin_alert_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Alerts::Admin::AlertsController.sortable? && ::Refinery::Alerts::Alert.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Alerts"),
                 refinery.alerts_admin_alerts_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Alerts"),
                 refinery.alerts_admin_alerts_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
